
<footer class="my-footer" style="z-index:1000; position: relative;">
<div class="footer-seperator"> </div>
  <div class="container">
    <div class = "row">
      <div class="s12 m8 l6 offset-m2 offset-l3 footer-text">
        © Monta Vista DECA Career Technical Student Organization. All rights reserved. <br> Created by Sahas Dendukuri and Gautam Ajjarapu 
      </div>
      <div class="s12 m8 l6 offset-m2 offset-l3 footer-subtext">
        If you have any questions, Email us at <a style="color:white" href="mailto:contact@sahas.me"> info@mvdeca.org </a>
      </div>
      <div class="footer-icons">
        <p><span class='symbol'> <a style="color:white" href="https://www.facebook.com/montavistadeca/">circlefacebook</a> <a style="color:white" href="https://www.instagram.com/mvdeca/">circleinstagram </a> <a style="color:white" href="mailto:info@mvdeca.org">circleemail </a></span></p>
      </div>
    </div>
  </div>
</footer>
