<div class="footer-copyright valign-wrapper">
    <div class="container valign footer-text">
    © 2016 Copyright MVDECA
    <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
	<a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook-square fa-2x" style="color:black;" "aria-hidden="true"></i>
	<a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
</a>
</div>
