        <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l8 s12">
                <h5 class="white-text">Monta Vista DECA</h5>
                <p class="grey-text text-lighten-4">If you have any questions please feel free to shoot us an email here.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4">
            <div class="container">
            © 2014 Copyright MVDECA
            <a class="grey-text text-lighten-4 right" href="mailto:contact@sahas.me">contact@sahas.me</a>
            </div>
          </div>
        </footer>
