<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>MVDECA</title>

    <meta name="description" content="MVDECA">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/materialize/materialize.min.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/plugins.min.js"></script>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script src="js/materialize.min.js"></script>
    <script type="text/javascript">
	    function postForm() {
	      var u = document.forms["logform"]["usr"].value;
	      var p = document.forms["logform"]["pss"].value;
	      var data = {"username":u, "password": p};
	      var ts = " "
	      //console.log(data)
	      $(function() {
        	$.post('/login', data, function(data, textStatus)
        	{	
        		ts = textStatus;
        		if (textStatus == "success") {
   			    	location.reload();
        		}
        	});
        	setTimeout(
        		function(){  
        			if (ts != "success") {
		  				Materialize.toast('Invalid username or password', 4000)
		  			} 
		  		}, 
		  	300)
		 
		  });
	    }
    </script>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/index_style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/subpages.css" media="screen" />


    
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,100' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
  </head>


		
    <div class="navbar white hide-on-large-only z-depth-0" >
	  <nav class="z-depth-0">
	    <div class="nav-wrapper white z-depth-0">
	      <a href="#!" class="brand-logo black-text">MVDECA</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="/about">About</a></li>
	        <li><a href="/community">Community</a></li>
	        <li><a href="/events">Events</a></li>
	        <li><a href="/competitions">Competitions</a></li>
	       	<li><a href="http://bbc.mvdeca.org">Incoming Freshman</a></li>
	  		<% if (loggedIn) { %>
	       		<li><a href="/logout">Logout</a></li>
	       		<li><a href="/profile">Profile</a></li>
			<% } %>
	  		<% if (!loggedIn) { %>
	  			<li><a  class="modal-trigger" href="#signin">Sign In</a></li>
			<% } %>
	    </div>
	  </nav>
	</div>

	  <div class="navbar-fixed white hide-on-med-and-down z-depth-0" >
	  <ul id="dropdown1" class="dropdown-content">
		<li><a class="dropdown-text black-text" href="/profile">Profile</a></li>
		<li><a class="dropdown-text black-text" href="/test">Tests Prep (beta)</a></li>
		<li class="divider"></li>
		<li><a class="dropdown-text black-text" href="/logout">Sign Out</a></li>
	  </ul>
	  <nav>
	    <div class="nav-wrapper white z-depth-0">
	      <a href="/" class="brand-logo center black-text">MONTA VISTA DECA</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a class="nav-lis" href="/about">ABOUT</a></li>
	        <li><a class="nav-lis" href="/community">COMMUNITY</a></li>
	        <li><a class="nav-lis" href="/events">EVENTS</a></li>
	      </ul>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	    <li><a class="nav-lis" href="/competitions">COMPETITIONS</a></li>
	      		<li><a class="nav-lis-right" href="http://bbc.mvdeca.org"> FRESHMAN</a></li>
	      		<% if (loggedIn) { %>
				      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <%= username %> <i class="material-icons right">arrow_drop_down</i></a></li>
				<% } %>
	      		<% if (!loggedIn) { %>
					<li><a class="waves-effect waves-light btn-flat btn-flat-bordered modal-trigger" href="#signin">Sign In</i></a></li>
				<% } %>
	      </ul>
	    </div>
	  </nav>
	</div>
	

	<div id="signin" class="modal signer">
	    <div class="modal-content">
	      <h1 class="sign-in-header"> <span>MV</span>DECA</h1>
		  <form class="login-form" name="logform" onsubmit="postForm()" method="post"> 
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="username" type="text" name="usr">
		          <label for="username">Username</label>
		        </div>
		        <div class="input-field col s12">
		          <input  id="password" type="password" name="pss">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <div class="row">
		      	<div class="col s6 l6 m6">
		      		<a href="/register"> Don't have one?
		      	</div>
		     	<div class="col s6 l6 m6">
		      		<a href="/register"> Forgot password? </a>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col s12"> 
					<a class="btn login-button z-depth-0" onclick="postForm()" type="submit">Login</a>
		      	</div>
		      </div>
		  </form>
	    </div>
  	</div>



		

	  <script type="text/javascript">	  	
		$( document ).ready(function(){
  			$(".button-collapse").sideNav();
  			$('.modal-trigger').leanModal();
			$('.dropdown-button').dropdown({
			      inDuration: 300,
			      outDuration: 225,
			      constrain_width: false, // Does not change width of dropdown to that of the activator
			      hover: true, // Activate on hover
			      gutter: 0, // Spacing from edge
			      belowOrigin: true, // Displays dropdown below the button
			      alignment: 'left' // Displays dropdown with edge aligned to the left of button
			});
			$('.scrollspy').scrollSpy();
		})

	  </script>
  </div>