<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>MVDECA</title>

    <meta name="description" content="MVDECA">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/materialize/materialize.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/index_style.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


    <link href="css/bootstrap.min.css" rel="stylesheet">



    
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,100' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
  </head>

  <div class="navbar-fixed white" >
	  <nav>
	    <div class="nav-wrapper white">
	      <a href="#" class="brand-logo center black-text">MONTA VISTA DECA</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a class="nav-lis" href="sass.html">ABOUT</a></li>
	        <li><a class="nav-lis" href="/community">COMMUNITY</a></li>
	        <li><a class="nav-lis" href="collapsible.html">EVENTS</a></li>
	       	<li><a class="nav-lis" href="badges.html">COMPETITIONS</a></li>
	      </ul>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      		<li><a class="nav-lis-right" href="badges.html">INCOMING FRESHMAN</a></li>
	      		<li><a class="nav-lis-right" href="badges.html">UPDATES</a></li>
				<li><a class="waves-effect waves-light btn-flat" href="/logout">Log Out</a></li>
	      </ul>
	    </div>
	  </nav>
  </div>