<% include partials/header %>
	<body>
		<div class="about-header"> 	
	  	  	<div class="about-header-text">
	  			OUR TEAM
	  		</div>
	  	</div>
		<div class="about-seperator"></div>
		<div class="container">
			<div class="team-header"> 
	      		<h1> EXECUTIVE TEAM </h1>
	      		<p> The executive team manages and coordinates all major planning.</p>
	      	</div>
	      	<div class="row">
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Alekhya P. </h1>
						<h2> President</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Nancy H. </h1>
						<h2> Executive VP</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Rachel Zhou</h1>
						<h2> VP Comps</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Sameer Thombre </h1>
						<h2> VP Ops</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Mahima Parashar </h1>
						<h2> VP Marketing</h2>
					</div>
				</div>
			</div>		
		</div>		

		<div class="container">
			<div class="team-header"> 
	      		<h1> COMPETITIONS TEAM</h1>
	      		<p> Our competition team creates study material and plans out study sessions to ensure that our members excel during competitions. </p>
	      	</div>
			<div class="row">
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Gautam A. </h1>
						<h2> Executive Dir.</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Edmund S.</h1>
						<h2> Dir of Series</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Rucha Bhise </h1>
						<h2> Dir of Entre</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Priya Kale </h1>
						<h2> Dir of <br>Resources</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Animesh Agarwal</h1>
						<h2> Dir of Principles</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Samruddhi <br>Deshpande </h1>
						<h2> Marketing Spec.</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Joyce Wu</h1>
						<h2> Finance Spec.</h2>
					</div>
				</div>
			</div>
		</div>		
		<div class="container">
			<div class="team-header"> 
	      		<h1> OPERATIONS TEAM</h1>
	      		<p> The operations team handles all the back end planning so that conferences and other events run smoothly. </p>
	      	</div>
			<div class="row">
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Shiv Ansal </h1>
						<h2> Executive Dir.</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Sidharth Rajaram</h1>
						<h2> Dir of Logistics</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Sahas Dendukuri </h1>
						<h2> Dir of Technology</h2>
					</div>
				</div>
			<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Jane Lo </h1>
						<h2> Secretary/Treasurer</h2>
					</div>
				</div>
			</div>		
		</div>
		<div class="container">
			<div class="team-header"> 
	      		<h1> MARKETING TEAM</h1>
	      		<p> The Marketing team handles relations with other organizations. They also help plan and create events where members can bond and have fun.</p>
	      	</div>
			<div class="row">
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Christine Park </h1>
						<h2> Executive Dir.</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Aarti <br> Vellimedu</h1>
						<h2> Dir of Civic <br> Consciousness</h2>
					</div>
				</div>
				<div class="col s6 m4 l3">
					<div class="officer-img">
						<img src="images/events/lace.jpg" class="circle responsive-img">
						<h1> Clara Shen </h1>
						<h2> Dir of Chapter<br> Activities</h2>
					</div>
				</div>
			</div>		
		</div>			

    </body>
    <%include partials/footer%>




  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>


</html>