<% include partials/header %>
	<body>
		<div class="competition-header"> 	
	  	  	<div class="competition-header-text">
	  			COMPETITIVE EVENTS
	  		</div>
	  	</div>

	 	<div class="row">
	      <div class="col s12 m4 l3 hide-on-small-only table-of-contents">
	      		<div class="table-of-contents-content">
	      			<ul> <a class="comps-margin-overview"  href="#overview">OVERVIEW</a> </ul>
					<ul> <p class="comps-btn-header">ROLEPLAY EVENTS</p></ul>
					<ul> <a class="comps-btn" href="#principles">PRINCIPLES</a> </ul>
	      			<ul> <a class="comps-btn" href="#tdm">TEAM DECISION MAKING</a> </ul>
	      			<ul> <a class="comps-btn" href="#series">SERIES</a> </ul>
					<ul> <p class="comps-btn-header">WRITTEN EVENTS</p></ul>
	      			<ul> <a class="comps-btn" href="#or">OPERATIONS RESEARCH</a> </ul>
	      			<ul> <a class="comps-btn" href="#e">ENTREPRENEURSHIP</a> </ul>
	      			<ul> <a class="comps-btn" href="#adc">MARKETING REP</a> </ul>


	      		</div>
	      </div>

	      <div class="col s12 m8 l9 content-panel offset-m4 offset-l3"> 
	      	<div class="event-header" id="overview"> 
	      		<h1> OVERVIEW </h1>

	      		<p>The MVDECA competitions program trains our members, perfecting their writing, speaking and presentation skills. Both events have a wide array of sub categories that require a strong understanding of Finance, Marketing, Hospitality and Business administration. Here at MVDECA we strive to train our members to be #1 in the world.</p>
	      	</div>
	      	
	      	<div class="event-seperator"></div>
	      	
	      	<div class="event-header" id="principles"> 
	      		<h1> PRINCIPLES </h1>
	      		<p>Principles events are events for first year members only. All four Principles events focus on the foundations of business while introducing concepts from DECA’s four main career clusters: finance, hospitality, marketing, and business management. These events serve as the foundation for all other competitive events</p>
	      	</div>
	      	<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-medium-and-down">

					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
						<tr>
							<td>Principles of <br>Business Management</td>
							<td>
								<li>most general Principles event</li>
								<li>focuses on operational and legal aspects of business</li>
								<li>covers human resources, law, economics, and global trade</li>
							</td>
							<td>1 Individual</td>
						</tr>
						<tr>
							<td>Principles of <br>Finance</td>
							<td>
								<li>introductory level finance event</li>
								<li>covers accounting, banking services, corporate finance, insurance, securities, and investments</li>
								<li>focuses on demonstrating knowledge rather than making decisions</li>
							</td>
							<td>1 Individual</td>
						</tr>
						<tr>
							<td>Principles of<br> Hospitality</td>
							<td>
									<li>introductory level hospitality event</li>
									<li>covers restaurants, hotels, travel, and tourism</li>
									<li>focuses on demonstrating knowledge rather than making decisions</li>
							</td>
							<td>1 Individual</td>
						</tr>
						<tr>
							<td>Principles of Marketing</td>
							<td>
									<li>introductory level marketing event</li>
									<li>covers marketing communications, marketing management, marketing research, merchandising, and selling</li>
									<li>focuses on demonstrating knowledge rather than making decisions</li>
							</td>
							<td><span id="principles_end"> 1 Individual</span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="sub-event-seperator"></div>	 

			<div class="event-header" id="tdm"> 
	      		<h1> TEAM DECISION MAKING </h1>
	      		<p>Team Decisions Making events are team roleplay events that involve 2 members working together during the presentation. Teams receive 30 minute to break down a case study and create a solution for the problem at hand.</p>
	      	</div>
			<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-med-and-down">
					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
						<tr>
							<td>Business Law <br> and Ethics</td>
							<td>
									<li>focuses on application and analysis of ethics</li>
									<li>covers law, including contracts, product liability, employment, and business ownership</li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Buying and <br>Merchandising</td>
							<td>
								<li>focuses on distribution channels, or how the product gets to the customer</li>
								<li>covers forecasting, planning, buying, displaying, selling, and customer service</li>
								<li>situations are generally business management with a focus on inventory</li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Financial Services</td>
							<td>
								<li>a finance umbrella event</li>
								<li>focuses on applications of finance in the business world</li>
								<li>situations include financial decision making, financial services marketing, and accounting</li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Hospitality Services</td>
							<td>
								<li>covers hospitality and marketing</li>
								<li>focuses on application of concepts in a hotel or food and beverage environment</li>
								<li>situations include customer service, pricing, and marketing </li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Marketing Communications</td>
							<td>
								<li>a marketing umbrella event</li>
								<li>focuses on connecting a customer to a business</li>
								<li>situations generally require competitors to create a marketing plan for a business</li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Sports and <br>Entertainment Marketing</td>
							<td>
									<li>covers marketing and management</li>
									<li>focuses on application of marketing concepts in a sports and entertainment environment</li>
									<li>situations generally require the creation of a marketing plan for a sporting location </li>
							</td>
							<td>Team of 2</td>
						</tr>
						<tr>
							<td>Travel and Tourism</td>
							<td>
									<li>covers hospitality, marketing, and management </li>
									<li>focuses on application of concepts in a travel and tourism environment</li>
									<li>situations include customer service, pricing, and marketing </li>
							</td>
							<td><span id="tdm_end">Team of 2</span></td>
						</tr>
					</tbody>
				</table>
			</div>

	      	<div class="sub-event-seperator"></div>	   

	      	<div class="event-header" id="series"> 
	      		<h1> SERIES EVENTS </h1>
	      		<p>Individual Series events are individual role-play events in which competitors receive a 10-minutes of preparation period to discuss the given topics in the roleplay and provide a solution to the given problem. The 13 Individual Series events cover a wide range of topics centered around DECA’s four main clusters: finance, hospitality, marketing, and business management.</p>
	      	</div>
			<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-med-and-down">
					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
							<tr>
								<td>Accounting <br>Applications</td>
								<td>
									<li>very technical event</li>
									<li>focuses on financial analysis and decision-making</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Apparel and <br>Accessories Marketing</td>
								<td>
										<li>covers business activities within the clothing industry</li>
										<li>focuses on application of marketing and management</li>
										<li>situations include retail, wholesale, and manufacturing</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Automotive <br>Services Marketing</td>
								<td>
										<li>covers business activities within the automotive services industry</li>
										<li>focuses on application of marketing and management</li>
										<li>situations include auto dealers, service stations, and auto-parts stores</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Business<br> Finance</td>
								<td>
										<li>combines business management and finance</li>
										<li>focuses on applications of finance in the business world</li>
										<li>situations include financial decision making, financial services marketing, and economics</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Food<br> Marketing</td>
								<td>
										<li>combines marketing and management</li>
										<li>focuses on human resources management within a food business</li>
										<li>situations generally involve human resources, but can also involve marketing and sales</li>
									</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Hotel and <br>Lodging Management</td>
								<td>
										<li>covers hospitality, marketing, and management</li>
										<li>focuses on application of concepts in a hotel environment</li>
										<li>situations include human resources, employee conflict, and government regulation </li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Human Resources<br> Management</td>
								<td>
										<li>covers business management and law</li>
										<li>focuses on employee and communication issues in a company</li>
										<li>situations include customer service, pricing, and marketing </li>
								</td>
								<td><br>1 Individual</td>
							</tr>
							<tr>
								<td>Marketing <br>Management</td>
								<td>
										<li>covers marketing and management</li>
										<li>focuses on application of concepts in a non-retail environment</li>
										<li>situations vary greatly, so general business knowledge is crucial</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Quick Serve <br>Restaurant Management</td>
								<td>
										<li>covers marketing, management, and hospitality</li>
										<li>focuses on application of concepts in a fast food environment</li>
										<li>situations generally involve the creation of a marketing plan</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Restaurant and Food <br>Service Management</td>
								<td>
										<li>covers marketing, management, and hospitality</li>
										<li>focuses on application of concepts in a restaurant environment</li>
										<li>situations generally involve the creation of a marketing plan</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Retail <br>Merchandising</td>
								<td>
										<li>covers marketing and management</li>
										<li>focuses on application of concepts in a retail environment</li>
										<li>situations require specific knowledge of retailing procedures and marketing</li>
								</td>
								<td>1 Individual</td>
							</tr>
							<tr>
								<td>Sports and <br>Entertainment Marketing</td>
								<td>
										<li>combines marketing and management</li>
										<li>focuses on application of concepts in a sports environment</li>
										<li>situations generally require the creation of a marketing plan for a sporting location</li>
								</td>
								<td><span id="series_end">1 Individual</span></td>
							</tr>
						</tbody>
				</table>
			</div>

	      	<div class="sub-event-seperator"></div>	   

	      	<div class="event-header" id="or"> 
	      		<h1> OPERATIONS RESEARCH </h1>
	      		<p>Operations Research events consist of a written business plan and a presentation. Operations Research events are focused around selecting a company and creating a business plan to modify the way the company presents itself. Participants will take the role of hired consultants of a single-unit or independent operation and will conduct research about the company</p>
	      	</div>
	      	<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-medium-and-down">

					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
						<tr>
							<td>Business Services</td>
							<td>
									<li>centers around researching and creating a plan to rebrand a business</li>
									<li>potential businesses include human resources, information technology, services, and any miscellaneous businesses </li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Buying and Merchandising</td>
							<td>
									<li>centers around researching and creating a plan to rebrand a business</li>
									<li>potential businesses include retail and wholesale businesses for consumer goods</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Finance</td>
							<td>
									<li>centers around researching and creating a plan to rebrand a business</li>
									<li>potential businesses include banks, credit unions, accounting firms, investment firms, and any other financial services businesses</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Hospitality and Tourism</td>
							<td>
									<li>centers around researching and creating a plan to rebrand a business</li>
									<li>potential businesses include hotels, eateries, travel, and tourism businesses</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Sports and Entertainment</td>
							<td>
									<li>centers around researching and creating a plan to rebrand a business</li>
									<li>potential businesses include any sports or entertainment related businesses</li>
							</td>
							<td>Team of<br> <span id="or_end">1 to 3</span></td>
						</tr>
					</tbody>
				</table>
			</div>
	    
	    	<div class="sub-event-seperator"></div>	   
			
	      	<div class="event-header" id="e"> 
	      		<h1> ENTREPRENEURSHIP </h1>
	      		<p>Entrepreneurship events consist of a written business plan and a presentation. In entrepreneurship events, participants will take the role of current business owner or entrepreneur, and will transform a business idea into a realistic, functional business. Entrepreneurship events incorporate a wide variety of business concepts, from finance to marketing.</p>
	      	</div>
	      	<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-medium-and-down">

					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
						<tr>
							<td>Innovation <br> Plan</td>
							<td>
									<li>competitors propose a product/service and research feasibility</li>
									<li>general entrepreneurship event</li>
									<li>focused on idea generation and market research</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Start-up <br> Business Plan</td>
							<td>
									<li>competitors propose a product/service and create a plan to implement it</li>
									<li>general entrepreneurship event</li>
									<li>focused on market research, operations, marketing, and financial projections</li>
							</td>
							<td>1 Individual</td>
						</tr>
						<tr>
							<td>Franchise <br> Business Plan</td>
							<td>
									<li>competitors propose a new location of an existing franchise</li>
									<li>subset of ENPI</li>
							</td>
							<td>1 Individual</td>
						</tr>
						<tr>
							<td>Independent<br>  Business Plan</td>
							<td><ul class="circle">
									<li>competitors propose a product/service and create a plan to implement it</li>
									<li>general entrepreneurship event</li>
									<li>focused on market research, operations, marketing, and financial projections</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Business<br>  Growth Plan</td>
							<td>
									<li>must own your own business to compete in this event</li>
									<li>centers around creating a plan to expand your own business</li>
									<li>focuses on expansion through marketing, franchising, and licensing</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>International<br>  Business Plan</td>
							<td>
									<li>plan focuses on implementing a product/service idea in a foreign country</li>
									<li>pitch to an investor from the United States</li>
							</td>
							<td>Team of<br> <span id="entre_end">1 to 3</span></td>
						</tr>					
					</tbody>
				</table>
			</div>

			<div class="sub-event-seperator"></div>	 

			<div class="event-header" id="adc"> 
	      		<h1> MARKETING REP</h1>
	      		<p>Marketing Representative events consist of a written business plan, a presentation, and a written test. Like Team Decision-Making Events, the test will be taken individually, but the presentation and the plan will be submitted as a team. A Marketing Representative event is focused on creating a promotional campaign for a certain business. Participants will take the role of external marketing consultants, and like Operations Research events, will gain experience interacting with real businesses.</p>  		
	      	</div>

	      	<div class="tabl hide-on-med-and-down"> 
		      	<table class="striped responsive-table bordered custom-table hide-on-medium-and-down">

					<thead>
						<tr class="event-titles">
							<th>Event Name </th>
							<th>Event Description</th>
							<th>Participants</th>
						</tr>
					</thead>
					<tbody class="table-text">
						<tr>
							<td>Advertising Campaign</td>
							<td>
									<li>general marketing representative event for any business</li>
									<li>competitors create a short, non-seasonal advertising campaign</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Fashion Merchandising<br> Promotion Plan</td>
							<td>
									<li>focuses on fashion-related businesses</li>
									<li>competitors create a short, seasonal promotional plan</li>
							</td>
							<td>Team of<br> 1 to 3</td>
						</tr>
						<tr>
							<td>Sports and Entertainment<br> Promotion Plan</td>
							<td>
									<li>focuses on sports or entertainment-related businesses</li>
									<li>competitors create a short, seasonal promotional plan</li>
							</td>
							<td>Team of<br> <span id="marketing_end">1 to 3</span></td>
						</tr>
					</tbody>
				</table>
			</div>  

			<div class="sub-event-seperator"></div>	 

		</div>
	</div>	
    </body>

    <%include partials/footer%>

    <script type="text/javascript">
		$(document).ready(function(){
				console.log($("footer").offset().top);
				$('.row .table-of-contents').pushpin(
				{ 
					top: $('.table-of-contents').offset().top, 
					bottom: $("footer").offset().top - $('.table-of-contents').height()

				});
		});

		$(function() {
		  $('a[href*="#"]:not([href="#"])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html, body').animate({
		          scrollTop: target.offset().top - 100
		        }, 1000);
		        return false;
		      }
		    }
		});
	   });
    </script>




</html>