<% include partials/header %>
	<body>
		<div class="competition-header"> 	
	  	  	<div class="competition-header-text">
	  			COMPETITIVE EVENTS
	  		</div>
	  	</div>

	 	<div class="row">
	      <div class="col s12 m4 l3 hide-on-small-only table-of-contents">
			<div class="table-of-contents">
				dkjfalksdjfads
			</div>
	      </div>

	      <div class="col s12 m8 l9 content-panel offset-m4 offset-l3"> 
	      	<div class="overview-header"> 
	      		<h1> OVERVIEW </h1>
	      		<p>The MVDECA competitions program trains our members, perfecting their writing, speaking and presentation skills. Both events have a wide array of sub categories that require a strong understanding of Finance, Marketing, Hospitality and Business administration. Here at MVDECA we strive to train our members to be #1 in the world.</p>
	      	</div>
	      	<div class="comps-seperator"></div>
	      </div>

	    
	    </div>	
    </body>
    <script type="text/javascript">
		  $(document).ready(function(){
		  		$('.row .table-of-contents').pushpin({ top: $('.row .table-of-contents').offset().top });
		  });
    </script>




  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>


</html>