<% include partials/header %>
	<body>
		<div class="events-header"> 	
	  	  	<div class="events-header-text">
	  			EVENTS
	  		</div>
	  	</div>

	<div class="row">
	    <div class="col s12 m4 l3 hide-on-small-only table-of-contents">
	      	<div class="table-of-contents-content">
	      		<ul> <a class="comps-margin-overview" href="#overview">OVERVIEW</a> </ul>
				<ul> <p class="comps-btn-header">CONFRENCES</p></ul>
				<ul> <a class="comps-btn" href="#lace">LACE</a> </ul>
				<ul> <a class="comps-btn" href="#svcdc">SVCDC</a> </ul>
      			<ul> <a class="comps-btn" href="#scdc">STATES</a> </ul>
      			<ul> <a class="comps-btn" href="#icdc">ICDC</a> </ul>
				<ul> <p class="comps-btn-header">TOURS</p></ul>
      			<ul> <a class="comps-btn" href="#fr">FEDERAL RESERVE</a> </ul>
      			<ul> <a class="comps-btn" href="#sf">THE WESTIN ST. FRANCIS</a> </ul>
      			<ul> <a class="comps-btn" href="#fidm">FIDM</a> </ul>
	      	</div>
	    </div>

	  
	    <div class="col s12 m8 l9 content-panel offset-m4 offset-l3"> 
	      	<div class="event-header" id="overview"> 
	      		<h1> OVERVIEW </h1>

	      		<p>Monta Vista DECA offers the “DECA experience”, the experience built on our three main aspects: competition, community, and culture. All three aspects culminate during our Monta Vista DECA events, whether it be conferences, tours, or volunteer opportunities. Monta Vista DECA events embody our chapter and provide us with an identity. As a member, you are invited to all events-so, sign up for one today!</p>
	      	</div>

	      	<div class="event-seperator"></div>


	      	<div class="event-header" id="lace"> 
	      		<h1> LACE </h1>

	      		<p>At the Silicon Valley Leadership and Competitive Excellence Conference, students receive hands-on training on becoming a leader. With inspiring speeches from world-renowned guest speakers and intensive training sessions, Silicon Valley LACE proves to be the training ground for amazing business leaders and DECA competitors.</p>

				<div class="hidable">
					<div class="event-img" id="event-lace"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							Nov. 11-13, 2016
						</div>
						<div class="join-subheader">
							San Jose Airport Doubletree
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" href="https://mvdeca.typeform.com/to/Obd26d">ATTENDANCE CLOSED</a>
					</div>		
				</div>

	      	</div>
	      	
	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="svcdc"> 
	      		<h1> SILICON VALLEY CDC</h1>

	      		<p>At the Silicon Valley Career Development Conference, students get their first taste of competitions. Monta Vista DECA members compete with students from all over the Silicon Valley-Bay Area, learning what it means to become a true business professional. This competition proves to be a testing ground for the upcoming California Career Development Conference.</p>

				<div class="hidable">
					<div class="event-img" id="event-svcdc"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							January 8-10, 2016
						</div>
						<div class="join-subheader">
							San Jose Convention Center
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="scdc"> 
	      		<h1> STATES CDC</h1>

	      		<p>At the States CDC, students compete to qualify for the international conference. While competing at this conference, students will earn recognition against the best competitors from all over the state. Students in each event will compete for four possible qualifying spots for the international conference in Anaheim this year.</p>

				<div class="hidable">
					<div class="event-img" id="event-scdc"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							March 2-6, 2016
						</div>
						<div class="join-subheader">
							San Diego, CA
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="icdc"> 
	      		<h1>INTERNATIONAL CDC</h1>

	      		<p>At the International CDC, students will compete against the best of the best across the world in order to secure a top three position and be recognized as a world champion. While competing at this conference, students will not only learn how to interact with a diverse group of people, but will also present to real VCs and professionals in the industry. As an added bonus theres prize money also.</p>

				<div class="hidable">
					<div class="event-img" id="event-icdc"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							April 22-27, 2016
						</div>
						<div class="join-subheader">
							Anaheim, CA
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="fr"> 
	      		<h1>FEDERAL RESERVE</h1>

	      		<p>Monta Vista DECA’s Federal Reserve Tour allows students to visit the Federal Reserve Bank of San Francisco, a division of the Department of Treasury. Students visit the Federal Reserve to see the process that the government uses to create and destroy our federal currency. At the end, the Federal Reserve also holds a short lecture to teach students about the basics of currency and the strategies the government uses to fight counterfeit currency.</p>

				<div class="hidable">
					<div class="event-img" id="event-fr"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							October 22nd, 2016
						</div>
						<div class="join-subheader">
							San Francisco
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="sf"> 
	      		<h1>THE WESTIN ST. FRANCIS</h1>

	      		<p>Monta Vista DECA’s Westin St. Francis tour allows students to visit one of the most prestigious luxury hotels of San Francisco. Students visit The Westin St. Francis to see the high quality hospitality and service provided, as well as a tour of the facilities. In addition, students will be able to have time to explore parts of San Francisco and have a good time with their friends.</p>

				<div class="hidable">
					<div class="event-img" id="event-sf"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							October 8th, 2016
						</div>
						<div class="join-subheader">
							San Francisco
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

	      	<div class="event-header" id="fidm"> 
	      		<h1>FIDM</h1>

	      		<p>Monta Vista DECA’s FIDM Tour allows students to learn about Fashion and Merchandising in a professional environment. Students also receive the opportunity to gain insight regarding the fashion design industry.</p>

				<div class="hidable">
					<div class="event-img" id="event-fidm"> </div>			
					<div class="event-join"> 
						<div class="join-header">
							2017
						</div>
						<div class="join-subheader">
							San Francisco
						</div>
						<a class="btn waves-effect waves-light join-btn z-depth-0" onclick="Materialize.toast('Maybe in a few days!', 4000)" >ATTENDANCE CLOSED</a>
					</div>		
				</div>	
	      	</div>

	      	<div class="sub-event-seperator"></div>

		</div>


	</div>	

    </body>

    <%include partials/footer%>


    <script type="text/javascript">
		$(document).ready(function(){
				$('.row .table-of-contents').pushpin(
				{ 
					top: $('.table-of-contents').offset().top, 
					bottom: $("footer").offset().top - $('.table-of-contents').height() - 20

				});				$('.tooltipped').tooltip({delay: 50});
		});

		$(function() {
		  $('a[href*="#"]:not([href="#"])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html, body').animate({
		          scrollTop: target.offset().top - 100
		        }, 1000);
		        return false;
		      }
		    }
		});
	   });
    </script>




</html>