<html>
   <body>
		<form action="/addHours" method="post">
		  student id <input type="text" name="email"><br>
		  hours <input type="text" name="hours"><br>
		  <input type="submit" value="Submit">
		</form>
   </body>
</html>