<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>MVDECA</title>

    <meta name="description" content="MVDECA">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/materialize/materialize.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/index_style.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


    
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,100' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
  </head>

  <video autoplay loop muted poster="images/screenshot.jpg" id="background-vid">
      <source src="assets/videos/splash.webm" type="video/webm">
      <source src="assets/videos/splash.mp4" type="video/mp4">
  </video>
  <section id="section-header" class="valign-wrapper">
    <div id="header-content" class="section-content valign" style="position: relative">
      <img id="header-img" src="images/deca-text-logo.png" alt="MVDECA" />
      <p>MORE THAN JUST A CLUB</p>
    </div>
  </section>

  <section id="section-main">
  
  	<div class="seperator">
  	</div>


	<div class="c3s" id="main-header"> 	
  	  	<div class="c-sheader">
  			MONTA VISTA DECA
  		</div>
  		 <div class="transbox">
			<p>Monta Vista DECA is a co-curricular student organization committed to providing its members the opportunity to discover and experience business and leadership through its competitions, community, and culture. We connect our members to the real world with international competitions, industry tours, and networking opportunities. Explore our three C's by clicking or scrolling below! </p>
  		</div>
  	</div>


  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="competitions"> 	
	  	 <div class="row">
	  	  	<div class="c-header valign col s8">
	  			Competitions
	  			<div class="c-subheader"> 
				We are the best that no one ever was. All we do is win and some other stuff. More text.
	  			</div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="culture"> 	
	  	 <div class="row">
	  	  	<div class="c-header valign col s8">
	  			Culture
	  			<div class="c-subheader"> 
				We are the best that no one ever was. All we do is win and some other stuff. More text.
	  			</div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>

  	<div class="c3s valign-wrapper " id="community"> 	
	  	 <div class="row">
	  	  	<div class="c-header valign col s8 style="text-align: center;">
	  			Community
	  			<div class="c-subheader"> 
				We are the best that no one ever was. All we do is win and some other stuff. More text.
	  			</div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>
 
  </section>



  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
</html>

 