<% include partials/header %>
  <video autoplay loop muted poster="images/screenshot.jpg" id="background-vid">
      <source src="assets/videos/splash.webm" type="video/webm">
      <source src="assets/videos/splash.mp4" type="video/mp4">
  </video>
  <section id="section-header" class="valign-wrapper">
    <div id="header-content" class="section-content valign" style="position: relative">
      <img id="header-img" src="images/deca-text-logo.png" alt="MVDECA" />
      <p>MORE THAN JUST A CLUB</p>
    </div>
  </section>

  <section id="section-big" style="background-color: #212121;">
  
  	<div class="seperator">
  	</div>


	<div class="c3s" id="main-header"> 	
  	  	<div class="c-sheader">
  			MONTA VISTA DECA
  		</div>
  		 <div class="transbox">
			<p>Monta Vista DECA is a co-curricular student organization committed to providing its members the opportunity to discover and experience business and leadership through its competitions, community, and culture. We connect our members to the real world with international competitions, industry tours, and networking opportunities. Explore our three C's by scrolling below! </p>
  		</div>
  	</div>


  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="competitions"> 	
	  	 <div class="row major-text">
	  	  	<div class="c-header valign">
	  			Competitions
	  			<div class="c-subheader"> 
            MVDECA has some of the best competitors in the world, with over 500 of our members making their way to DECA’s international competitions. We have the resources and the skills to help you become an internationally ranked competitor. <br> <a style="color:white" href="/competitions"> Learn more about MVDECA competitions </a> > 
          </div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="culture"> 	
	  	 <div class="row major-text-2">
	  	  	<div class="c-header valign">
	  			Culture
	  			<div class="c-subheader l6 m8 s10 offset-s1"> 
			     Above all else, Monta Vista DECA is a family. From weekly study sessions to week-long conferences around the world, this organization gives you the opportunity to meet people and build everlasting relationships, as well as create memories that will last you a lifetime. 
	  			</div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>

  	<div class="c3s valign-wrapper " id="community"> 	
	  	 <div class="row major-text-3">
	  	  	<div class="c-header valign">
	  			Community
	  			<div class="c-subheader l6 m8 s10 offset-s1"> 
				Monta Vista DECA is extremely well-reputed amongst the community--from volunteering and internship opportunities with local companies to partnerships with the local Chamber of Commerce and even renowned politicians such as Ro Khanna, MVDECA has a clear standing amongst the local professional community that gives you a multitude of opportunities.  <!-- <br> <a style="color:white" href="/community"> Learn more about our involvement </a> > -->
	  			</div>
	  		</div>
  		</div>
  	</div>
   <% include partials/footer %>
  </section>



  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>


</html>

 