<% include partials/header %>
  <video autoplay loop muted poster="images/screenshot.jpg" id="background-vid">
      <source src="assets/videos/splash.webm" type="video/webm">
      <source src="assets/videos/splash.mp4" type="video/mp4">
  </video>
  <section id="section-header" class="valign-wrapper">
    <div id="header-content" class="section-content valign" style="position: relative">
      <img id="header-img" src="images/deca-text-logo.png" alt="MVDECA" />
      <p>MORE THAN JUST A CLUB</p>
    </div>
  </section>

  <section id="section-big" style="background-color: #212121;">
  
  	<div class="seperator">
  	</div>


	<div class="c3s" id="main-header"> 	
  	  	<div class="c-sheader">
  			MONTA VISTA DECA
  		</div>
  		 <div class="transbox">
			<p>Monta Vista DECA is a co-curricular student organization committed to providing its members the opportunity to discover and experience business and leadership through its competitions, community, and culture. We connect our members to the real world with international competitions, industry tours, and networking opportunities. Explore our three C's by scrolling below! </p>
  		</div>
  	</div>


  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="competitions"> 	
	  	 <div class="row major-text">
	  	  	<div class="c-header valign">
	  			Competitions
	  			<div class="c-subheader"> 
            MVDECA is notorious for having strong competitors and each of our members has the potential to stand out in the crowd. <br> <a style="color:white" href="/competitions"> Learn more about MVDECA competitions </a> > 
          </div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>


  	<div class="c3s valign-wrapper " id="culture"> 	
	  	 <div class="row major-text-2">
	  	  	<div class="c-header valign">
	  			Culture
	  			<div class="c-subheader l6 m8 s10 offset-s1"> 
			     	When it comes down to it, Monta Vista DECA is a family above all else. You'll meet people and building everlasting relationships<bR>that transcend the skills and confidence you gain. 
	  			</div>
	  		</div>
  		</div>
  	</div>

  	<div class="seperator">
  	</div>

  	<div class="c3s valign-wrapper " id="community"> 	
	  	 <div class="row major-text-3">
	  	  	<div class="c-header valign">
	  			Community
	  			<div class="c-subheader l6 m8 s10 offset-s1"> 
				MVDECA is closely connected our community and you can see us volunteering and helping out at local events. We believe in being part of something bigger and help our community become a better place. <!-- <br> <a style="color:white" href="/community"> Learn more about our involvement </a> > -->
	  			</div>
	  		</div>
  		</div>
  	</div>
   <% include partials/footer %>
  </section>



  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>


</html>

 