<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>MVDECA</title>

        <meta name="description" content="MVDECA">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/video.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/values.css" media="screen" />


        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700,100' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
   		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500" rel="stylesheet">
    </head>

    <body style = "margin:0">
        <div class="splash">
            <div class="panel">
                <video autoplay loop class="splash-video" poster="assets/splash-poster.jpg">
                    <source src="assets/videos/splash.webm" type="video/webm">
                    <source src="assets/videos/splash.mp4" type="video/mp4">
                </video>
                <div class="splash-panel-image logo" style="width:80%;margin:0 10%;">
                    <img src="images/deca-text-logo.svg" align="middle" style="margin: -35% -50%; width:75%;">
                </div> 
                <div class="splash-panel-image subtitle" style="margin: 10% 3%">
                    <p style="font-size: 3.5vw"> More than Just a Club</p>
                </div>
            </div>
       </div>

       <div class="container">
            <div class="left_side"></div>
            <div class="right_side"></div>
        </div>
        
    </body>
</html>

 