<% include partials/header %>
<body>
  	<table class = 'profile-table'>
  		<tr>
        <thead>
            <tr class="event-titles">
              <th>Event Name </th>
              <th>Event Description</th>
              <th>Participants</th>
            </tr>
        </thead>
  			<td class = 'profiletb-row'>FIRST NAME</td>
  			<td class = 'profiletb-row'>Sahas</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>LAST NAME</td>
  			<td class = 'profiletb-row'>Dendukuri</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>STUDENT ID</td>
  			<td class = 'profiletb-row'>5142247</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>CELLPHONE</td>
  			<td class = 'profiletb-row'>4088988233</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>HOME PHONE</td>
  			<td class = 'profiletb-row'>4082460655</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>T-SHIRT SIZE</td>
  			<td class = 'profiletb-row'>M</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>CAN YOU TEXT?</td>
  			<td class = 'profiletb-row'>Yes</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>ADDRESS</td>
  			<td class = 'profiletb-row'>10274 Parkwood Dr, Cupertino Ca 95014, CU California 95014</td>
  		</tr>
  	</table>
  	
  	<table class = 'profile-table'>
  		<tr>
  			<td class = 'profiletb-row'>PARENT'S FIRST NAME</td>
  			<td class = 'profiletb-row'>prabha</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>PARENT'S LAST NAME</td>
  			<td class = 'profiletb-row'>dendukuri</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>PARENT RELATION</td>
  			<td class = 'profiletb-row'>Mother</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>PARENT'S EMAIL</td>
  			<td class = 'profiletb-row'>prabhad@gmail.com</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>PARENT'S CELLPHONE</td>
  			<td class = 'profiletb-row'>4083060689</td>
  		</tr>
  		<tr>
  			<td class = 'profiletb-row'>WANT UPDATES?</td>
  			<td class = 'profiletb-row'></td>
  		</tr>
  	</table>
</body>