<% include partials/header %>
<body>
	<div class="container">
		<div class="register-header">
			<h1>Join Us</h1>
			<p>All fields are required</p>		
		</div>
	  <form id="registration-form" action="signup" method="post">
	  	<div class="form-wrapper">
	      <div class="row">
	        <div class="input-field col m6 s12">
	          <label for="fname">First Name</label>
	          <input type="text" id="fname" name="fname" />
	        </div>
	        <div class="input-field col m6 s12">
	          <label for="lname">Last Name</label>
	          <input type="text" id="lname" name="lname" />
	        </div>
	        <div class="input-field col m6 s12">
	          <label for="email">Email Address</label>
	          <input type="text" id="email" name="email" />
	        </div>
	        <div class="input-field col m6 s12">
	          <select id="gender">
	            <option value="male">Male</option>
	            <option value="female">Female</option>
	            <option value="other">Other</option>
	          </select>
	          <label for="gender">Gender</label>
	        </div>
	        <div class="input-field col m6 s12">
	          <label for="grade">Student ID</label>
	          <input type="text" id="sid" name="sid" maxlength="7">
	        </div>
	        <div class="input-field col m6 s12">
	          <select id="grade">
	            <option value="9">9</option>
	            <option value="10">10</option>
	            <option value="11">11</option>
	            <option value="12">12</option>
	          </select>
	          <label for="grade">Grade</label>
	        </div>
	        <div class="input-field col m2 s4">
	          <label for="dob1">Date of Birth</label>
	          <input type="text" id="dob1" name="dob1" placeholder="MM" maxlength="2" />
	        </div>
	        <div class="input-field col m2 s4">
	          <input type="text" id="dob2" name="dob2" placeholder="DD" maxlength="2" />
	        </div>
	        <div class="input-field col m2 s4">
	          <input type="text" id="dob3" name="dob3" placeholder="YYYY" maxlength="4" />
	        </div>
	        <div class="input-field col m2 s4">
	          <label for="phone1">Phone Number</label>
	          <input type="text" id="phone1" name="phone1" class="phone" placeholder="XXX" maxlength="3" />
	        </div>
	        <div class="input-field col m2 s4">
	          <input type="text" id="phone2" name="phone2" class="phone" placeholder="XXX" maxlength="3" />
	        </div>
	        <div class="input-field col m2 s4">
	          <input type="text" id="phone3" name="phone3" class="phone" placeholder="XXXX" maxlength="4" />
	        </div>
	        <div class="input-field col m6 s12">
	          <label for="password">Password</label>
	          <input type="password" id="password" name="password" />
	        </div>
	        <div class="input-field col m6 s12">
	          <label for="confirm-password">Confirm Password</label>
	          <input type="password" id="confirm-password" name="confirm-password" />
	        </div>
	      </div>
	      <div class="row">
	        <button class="btn btn-large submit col m6 offset-m6 s12 waves-effect" type="submit" id="submit" name="submit" value="Submit">
	          SUBMIT <i class="material-icons right">send</i>
	        </button>
	      </div>
	    </div>
	  </form>
	</div>
</body>
</html>