<html>
  <body>
    <form action="/register" method="post">
      <div>
        <label>username</label>
        <input type="text" name="uname" />
        <br/>
      </div>
      <div>
        <label>password</label>
        <input type="password" name="pass" />
      </div>
      <div>
        <label>first name</label>
        <input type="text" name="fname" />
        <br/>
      </div>
      <div>
        <label>last name</label>
        <input type="text" name="lname" />
        <br/>
      </div>
      <div>
        <label>student id</label>
        <input type="text" name="sid" />
        <br/>
      </div>
      <div>
        <label>email</label>
        <input type="text" name="em" />
        <br/>
      </div>
      <div>
        <label>gender</label>
        <input type="text" name="mf" />
        <br/>
      </div>
      <div>
        <label>birthday</label>
        <input type="text" name="bday" />
        <br/>
      </div>
      <div>
        <label>graduation year</label>
        <input type="text" name="gday" />
        <br/>
      </div>
      <div>
        <label>Membership status</label>
        <input type="text" name="stat" />
        <br/>
      </div>
      <div>
        <label>cellphone number</label>
        <input type="text" name="cnum" />
        <br/>
      </div>
      <div>
        <label>Can you text</label>
        <input type="text" name="text" />
        <br/>
      </div>
      <div>
        <label>T-shirt size</label>
        <input type="text" name="shirt" />
        <br/>
      </div>
      <div>
        <label>Parent's first name</label>
        <input type="text" name="pfn" />
        <br/>
      </div>
      <div>
        <label>Parent's last name</label>
        <input type="text" name="pln" />
        <br/>
      </div>
      <div>
        <label>Relationship to student</label>
        <input type="text" name="r" />
        <br/>
      </div>
      <div>
        <label>Parent's email</label>
        <input type="text" name="pm" />
        <br/>
      </div>
      <div>
        <label>Parent's phone</label>
        <input type="text" name="hp" />
        <br/>
      </div>
      <div>
        <label>Would your parent's like updates also</label>
        <input type="text" name="udate" />
        <br/>
      </div>
      <div>
        <label>Home address</label>
        <input type="text" name="addr" />
        <br/>
      </div>
      <div>
        <label>Zip code </label>
        <input type="text" name="zcode" />
        <br/>
      </div>
      <div>
        <a href="/login"> <input type="submit" value="Submit"/> </a>
      </div>
    </form>
  </body>
</html>