<html>
   <body>
   		<p>Hours were updated successfully, go back to update more. If you messed up just give a negative number to counteract it.
   		</p>
   		<p><%=response%></p>

   </body>
</html>