
html, body {
    margin: 0px;
}

html, body {
    overflow-x: hidden;
}



@font-face{
    font-family: "Myriad-Pro";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_thin.ttf) format("truetype");
}

@font-face{
    font-family: "Myriad-Pro-light";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_ultralight.ttf) format("truetype");
}


#background-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

section {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.section-content {
  width: 100%;
  color: #fff;
  font-family: "Raleway";
  font-size: 3.8vw;
  font-weight: 200;
  left: 0;
  letter-spacing: 5px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#section-main {
    height: 100vh;
    background: white;
    position: relative;
}
#section-main {
    height: 400vh;
    background: white;
    position: relative;
}

h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

#header-img {
    width: 55%;
    display: block;
    margin: auto;
}




.c3s {
    background-color: #000000;
    height: 85vh;
    width: 100%;
    z-index: 1;
    overflow: auto;
}


.major-text {
    margin-left: 80px;
    margin-right: 750px;
}
.major-text-2 {
    margin-left: 700px;
    margin-right: 100px;
}
.major-text-3 {
    margin-left: 60px;
    margin-right: 800px;

}

.c-subheader a:hover {
   text-decoration: underline; 
}
#competitions {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/competitions.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#community {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/community.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#culture {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/culture.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/main.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.seperator {
    background-color: white;
    height: 0.8vh;
}

.c-header {
    font-family: 'Myriad-Pro';
    font-size: 52px;
    margin-left: auto;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.c-sheader {
    margin: auto;
    text-align: center;
    font-family: 'Myriad-Pro';
    font-size: 5vw;
    margin-left: auto;
    color: #FFFFFF;
    letter-spacing: 0.016em;
    margin-top: 120px;
    overflow: auto;


    width: 54%;
    border-radius: 4px;
    background: rgba(0, 82, 155, 0.9);
}

.transbox {
    margin: auto;
    width: 54%;
    border-radius: 4px;
    background: rgba(240, 240, 240, 1.00);
    overflow: auto;
}
.transbox p {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

    width: 100%;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.4vw;
    margin-left: auto;
    color: #000000;
    letter-spacing: normal;
}


.nav-lis {
    font-family: 'Open Sans';
    font-weight: 300;
    color: rgba(158, 158, 158, 1.00);
    font-size: 13px;
    margin-left: 15px;
}

.nav-lis-right {
    font-family: 'Open Sans';
    font-weight: 300;
    color: rgba(158, 158, 158, 1.00);
    font-size: 13px;
}


.c-subheader {
    font-family: 'Myriad-Pro';
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.016em;
}

.btn-flat-bordered {
    border: 1px solid rgba(158, 158, 158, 1.00);
    border-radius: 4px;
    color: black;
}

.dropdown-button {
    font-family: 'Open Sans';
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.dropdown-text {
    font-family: 'Open Sans';
    font-weight: 300;
    color: black;    
    font-size: 3px;
}



.brand-logo {
   font-weight: 300;
   font-family: "Open Sans";
   letter-spacing: 1px;
}

.footer-copyright {
    height: 50px;
    width: 100%;
    background-color: rgba(42, 42, 42, 1.00);
}

.footer-text {
    font-family: 'Open Sans';
    font-weight: 400;    
    color: white;
}

@media (max-width: 1024px) {
    #header-img {
        width: 75%;
    }

        .c-sheader {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 5vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 140px;
        overflow: auto;


        width: 75%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .transbox {
        margin: auto;
        width: 75%;
        border-radius: 4px;
        background: rgba(240, 240, 240, 0.90);
        overflow: auto;
    }
    .transbox p {
        margin-top: 10px;
        padding-right: 20px;
        padding-left: 20px;

        width: 100%;
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 2.5vw;
        margin-left: auto;
        color: #000000;
        letter-spacing: normal;
     }

    .major-text {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .major-text-2 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .major-text-3 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
}
@media (max-width: 600px) {
    #header-img {
        width: 90%;
    }

    .c-sheader {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 10vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 100px;
        overflow: auto;


        width: 90%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .transbox {
        margin: auto;
        width: 90%;
        border-radius: 4px;
        background: rgba(240, 240, 240, 0.90);
        overflow: auto;
    }
    .transbox p {
        margin-top: 6px;
        padding-right: 20px;
        padding-left: 20px;

        width: 100%;
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 4vw;
        margin-left: auto;
        color: #000000;
        letter-spacing: normal;
     }
    .major-text {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .major-text-2 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .major-text-3 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    #competitions {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/competitions.jpg');
        background-size: cover;

    }

    #community {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/community.jpg');
        background-size: cover;
    }

    #culture {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/culture.jpg');
        background-size: cover;
    }
}




