
html, body {
    margin: 0px;
}

html, body {
    overflow-x: hidden;
}

#background-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

section {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.section-content {
  width: 100%;
  color: #fff;
  font-family: "Raleway";
  font-size: 4.2vw;
  font-weight: 300;
  left: 0;
  letter-spacing: 7px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#section-main {
    height: 300vh;
    background: white;
    position: relative;
}

h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

#header-img {
    width: 55%;
    display: block;
    margin: auto;
}

.row {
    width: 100%
}

.content {
    height: 100vh;
}

.content-container {
    z-index: 10;
    position: absolute;
    left: 65%;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.9);
}

#img-container {  
    background-color: red;
    position: absolute;
    height: 100%;
    vertical-align: top;
}

.content-img {
    position: absolute;
    height: 100vh;
    min-width: 100vw;
}

.content-header {
    font-weight: 600;
}

.content-text {
    color: #666666;
    padding: 3vw;
}

.content-text p {
    color: #444444;
    font-size: 1.2em;
}
@media (min-width: 1025px) {
    .content-img {
        display: none;
    }
}
@media (max-width: 1024px) {
    #header-img {
        width: 75%;
    }
    .content-container {
        left: 50%;
        width: 50%;
    }
    #content-img2 {
        top: 100vh;
    }
    #content-img3 {
        top: 200vh;
    }
}

@media (max-width: 600px) {
    #header-img {
        width: 90%;
    }
    .content-container {
        left: 0%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .content-text {
        text-align: center;
    }
    .content-text p {
        color: black;
    }
}