
html, body {
    margin: 0px;
}

html, body {
    overflow-x: hidden;
}



@font-face{
    font-family: "Myriad-Pro";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_thin.ttf) format("truetype");
}

@font-face{
    font-family: "Myriad-Pro-light";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_ultralight.ttf) format("truetype");
}

.table-of-contents {
	background-color: blue;
	height: 100px;
	position: fixed;
}

.content-panel{
	background-color: green;
	height: 4000px;
}