
html, body {
    margin: 0px;
}

html, body {
    overflow-x: hidden;
}


@font-face{
    font-family: "Myriad-Pro-Bold";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_semibold.ttf) format("truetype");
}

@font-face{
    font-family: "Myriad-Pro";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_thin.ttf) format("truetype");
}

@font-face{
    font-family: "Myriad-Pro-light";  
    src: url(/fonts/Myriad-Set-Pro/myriad-set-pro_ultralight.ttf) format("truetype");
}


.competition-header {
    background-color: #000000;
    height: 50vh;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/competitions.jpg');
    background-size: cover;
}

.about-header-text {
	margin: auto;
    text-align: center;
    font-family: 'Myriad-Pro';
    font-size: 5vw;
    margin-left: auto;
    color: #FFFFFF;
    letter-spacing: 0.016em;
    margin-top: 120px;
    overflow: auto;


    width: 30%;
    border-radius: 4px;
    background: rgba(53, 56, 66, 0.85);
}

.about-header {
    background-color: #000000;
    height: 50vh;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/competitions.jpg');
    background-size: cover;
}

.competition-header-text {
	margin: auto;
    text-align: center;
    font-family: 'Myriad-Pro';
    font-size: 5vw;
    margin-left: auto;
    color: #FFFFFF;
    letter-spacing: 0.016em;
    margin-top: 120px;
    overflow: auto;


    width: 54%;
    border-radius: 4px;
    background: rgba(0, 82, 155, 0.9);
}

.events-header {
    background-color: #000000;
    height: 50vh;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url('/images/competitions.jpg');
    background-size: cover;
}

.events-header-text {
    margin: auto;
    text-align: center;
    font-family: 'Myriad-Pro';
    font-size: 6vw;
    margin-left: auto;
    color: #FFFFFF;
    letter-spacing: 0.016em;
    margin-top: 120px;
    overflow: auto;


    width: 30%;
    border-radius: 4px;
    background: rgba(0, 82, 155, 0.9);
}

.table-of-contents {
	background-color: white;
	position: absolute;

}

.row {
    position: relative;
}



.table-of-contents-content {
    margin-top: 100px;
}

.content-panel{
    margin-top: 60px;
	background-color: white;
}

.about-space {
	width: 100%;
	height: 30px;
}

.officer-img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.center-div {
  padding-left:0;
  padding-right:0;
  float:none;
  margin:auto;
}


.officer-img h1 {
    font-family: 'Open Sans';
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0.016em;
}

.officer-img h2 {
    font-family: 'Open Sans';
    color: black;
    font-size: 18px;
    font-weight: 300;
    margin-top: -20px;
    letter-spacing: 0.016em;
    text-align: center;
}

.img-row {
    margin-left: 40px;
    margin-right: 40px;

}

.event-header h1 {
    margin-top: 30px;
    margin-bottom: -5px;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 1.8px;
    color: black;
}

.event-header p {
    text-align: left;
    font-family: 'Myriad-Pro';
    font-weight: 300;
    font-size: 17px;
    color: black;
    margin-right: 100px;
    margin-bottom:30px;

}

.team-header h1 {
    margin-top: 30px;
    margin-bottom: -5px;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 1.8px;
    color: black;
}

.team-header p {
    text-align: left;
    font-family: 'Myriad-Pro';
    font-weight: 300;
    font-size: 17px;
    color: black;
    margin-right: 100px;
    margin-bottom:30px;

}

.event-seperator {
    margin-right: 100px;
    border-bottom: 1.5px solid rgba(208, 208, 208, 1.00);
}

.event-titles th {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 15px;    
}

.event-titles th {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 15px;    
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border-collapse: separate !important
}

table td {
border-left: 0.5px solid rgba(208, 208, 208, 0.50);
border-right: 0.5px solid rgba(208, 208, 208, 0.50);


}

table td:first-child {
border-left: none;

}

table td:last-child {
border-right: none;
}

table th {
border-left: 0.5px solid rgba(208, 208, 208, 0.50);
border-right: 0.5px solid rgba(208, 208, 208, 0.50);


}

table th:first-child {
border-left: none;

}

table th:last-child {
border-right: none;
}

tr {
  height: 6px;
}

td : first-child {
  width: 10px;
}

li{
   list-style:circle;
}

.custom-table {
    border: 1px solid rgba(208, 208, 208, 1.00);
    border-radius: 5px;
    height: 100px;
}

.table-text td { 
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px; 
    padding-left: 13px;
 }

 .tabl {
    margin-right: 100px;
 }

 .sub-event-seperator {
    margin-top: 50px;
    margin-right: 100px;
    border-bottom: 1.5px solid rgba(208, 208, 208, 1.00);
}

.comps-btn-header{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgba(96, 96, 96, 1.00);
    border-bottom: 1.5px solid rgba(208, 208, 208, 1.00);
}

.comps-btn{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(96, 96, 96, 1.00);
}

.comps-btn-header{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgba(96, 96, 96, 1.00);
    border-bottom: 1.5px solid rgba(208, 208, 208, 1.00);
}

.comps-btn{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(96, 96, 96, 1.00);
}

.comps-margin-overview {
    margin-bottom: 9px;    
    margin-left: 20px;
    margin-right: 50px;
}

.events-chip {
    background-color: rgba(66, 139, 202, 1.00);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: white;
    height: 30px;
    border-radius: 4px;
    margin-top: 20px;

}


.event-img {
    margin-top: 20px;
    margin-left: 100px;
    background-color: rgba(240, 240, 240, 1.00);
    height: 200px;
    width: 200px;
    background-size: cover;
}

#event-lace {
    background-image: url('/images/events/lace.jpg');
}
#event-svcdc {
    background-image: url('/images/events/svcdc.jpg');
}

#event-scdc {
    background-image: url('/images/events/states.jpg');
}

#event-icdc {
    background-image: url('/images/events/icdc.jpg');
}

#event-fr {
    background-image: url('/images/events/fr.jpg');
}

#event-sf {
    background-image: url('/images/events/francis.jpg');
}

#event-fidm {
    background-color: white;
    background-image: url('/images/events/fidm.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}


.event-join {
    background-color: rgba(240, 240, 240, 1.00);
    margin-top: -200px;
    margin-left: 400px;
    height: 200px;
    width: 350px;
    overflow: auto;
}

.join-header {
    font-family: 'Open Sans';
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 400;
}

.join-subheader {
    font-family: 'Open Sans';
    margin-top: 8px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 300;
}


.join-btn {
    background-color: rgba(225, 138, 136, 1.00);
    color: white;
    margin-top: 40px;
    margin-left: 24px;
    width: 300px;
    text-align: center;
    vertical-align: top;
}


.user-data h1{
    color: black;
    font-family: 'Open Sans';
    letter-spacing:  0.016em;
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
    text-align: left;
}

.user-data p {
    color: black;
    font-family: 'Open Sans';
    letter-spacing:  0.016em;
}

.user-data h3 {
    color: black;
    font-family: 'Open Sans';
    letter-spacing:  0.009em;
    font-weight: 600;
    font-size: 20px;
}
.user-data span {
    color: black;
    font-family: 'Open Sans';
    letter-spacing:  0.009em;
    font-weight: 600;
    font-size: 14px;
}
.user-data ul {
    color: black;
    font-family: 'Open Sans';
    letter-spacing:  0.009em;
    font-weight: 300;
    font-size: 14px;
}
 @media (max-width: 1024px) {
    .competition-header-text {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 7.5vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 120px;
        overflow: auto;


        width: 70%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .events-header-text {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 8vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 120px;
        overflow: auto;


        width: 50%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .hidable {
        visibility: hidden;
        display: none;
   }
 }


@media (max-width: 600px) {
    .competition-header-text {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 9.5vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 120px;
        overflow: auto;


        width: 90%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .events-header-text {
        margin: auto;
        text-align: center;
        font-family: 'Myriad-Pro';
        font-size: 10vw;
        margin-left: auto;
        color: #FFFFFF;
        letter-spacing: 0.016em;
        margin-top: 120px;
        overflow: auto;


        width: 70%;
        border-radius: 4px;
        background: rgba(0, 82, 155, 0.9);
    }

    .event-header p {
        text-align: center;
        width: auto;
        margin: auto;   
        margin-top: 20px;
   }

    .event-header h1 {
        text-align: center;
        width: auto;
        margin: auto;   
        margin-bottom: 15px;

   }
    .event-seperator {
        text-align: center;
        width: auto;
        margin: auto;   
        margin-bottom: 30px;
        border-bottom: 1.5px solid rgba(208, 208, 208, 0.00);
   }
    .sub-event-seperator {
        text-align: center;
        width: auto;
        margin: auto;   
        margin-bottom: 30px;
        border-bottom: 1.5px solid rgba(208, 208, 208, 0.00);
   }
   .hidable {
        visibility: hidden;
        display: none;
   }
 }


