.container {
width:1000px;
position: fixed;
padding-top: 500px;
}

.left_side {
float:left;
width:2500px;
height:500px;
background:white;   
position: fixed;
padding-top: 500px;

}

.right_side {
float:right;
width:750px;
height:1500px;
background:white;
position: fixed;
padding-top: 500px;
}