.splash-panel-image {
  position: fixed;
  left: 50%;
  top: 45%;
}

.splash-panel-image.logo {
  position: fixed;
  width: 254px;
  height: 88px;
  margin-left: -127px;
  margin-top: -100px;
}

.subtitle {
  position: fixed;
  color: #fff;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 300;
  left: 0;
  letter-spacing: 7px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.splash-video,
.hooli-video {
  height: 90vh;
}

@media (min-width: 1650px) {
  .splash-video,
  .hooli-video {
    width: 100vw;
    max-width:100%;
    height: initial;
    position: fixed;
  }
}

@media (min-aspect-ratio: 16/9) {
  .splash-video,
  .hooli-video {
    width: 100vw;
    max-width:100%;
    height: auto;
    position: fixed;
  }