.signin-label {
	font-size: 18px;
	margin-right: 30px;
	font-weight: 400;
	margin-left: 20px;
}

.signin-box {
	width: 350px; 
	margin: 0 auto; 
	background-color: #F0F0F0 ; 
	padding-top: 20px; 
	padding-bottom: 20px; 		
	border-radius: 4px;
}

.signin-divider {
	border-color: #ffffff;
	margin: 0 0 0 0;
	border-width: 4px;
}

.signin-table {
	width: 50%;
}

.signin-row {
	height: 35px;
}