/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #2a2a2a;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container2 {
  text-align: center;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
}
.container2 .text-muted {
  margin: 35px 0;
  margin-bottom: 20px;
  color: #a8a8a8;
  text-align: center;
}
